@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: auto;
}

header {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

#game-board {
    height: 440px;
    width: 440px;
    background-color: #e8e9ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fffbca;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #3f4052;
}
