@import 'roboto.css';
@import 'reset-css';

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: auto;
}

header {
    margin: 3rem 0 1rem 0;
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-board {
    margin: auto;
    height: 440px;
    width: 440px;
    background-color: #e8e9ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    border-radius: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fffdec;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #3f4052;
    border-radius: 5px;
}

#restart {
    margin-top: 2rem;
    height: 3rem;
    width: 12rem;
    border: 1px solid #353edc;
    background-color: #353edc;
    color: white;
    font-size: 2rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

#restart:active {
    background-color: white;
    color: #353edc;
}

.game-over {
    opacity: 0.5;
}

.game-over:before {
    position: absolute;
    content: "GAME OVER";
}
